.box-title {
  color: #dddddc;
}

.header{
  background-color: #848482;
  height: 40vh;
  width: 100%;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  width: 40%;
}

.title-bar {
  margin: 0;
}